pytest==6.2.4
pyyaml==6.0.0  # We are currently constrained to pyyaml=6.0.0 exactly due to conan 1.60.1
pylint==2.15.5  # Guard against warn/error changes
jsonschema==4.7.2
tree-sitter==0.20.1  # For parsing C++ AST to assert on comment text.
tree-sitter-languages==1.5.0
# Do not pin openassetio to a specific version, so that pip will not
# complain when testing against future openassetio versions (e.g.
# OpenAssetIO integration test CI).
openassetio>=1.0.0b1.rev0
