# SPDX-License-Identifier: Apache-2.0
# Copyright 2022 The Foundry Visionmongers Ltd

# Runs pytest on the matrix of supported platforms any Python versions.
name: Test
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: ${{ matrix.os }} ${{ matrix.python }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ['windows-2022', 'ubuntu-22.04', 'macos-15-intel']
        python: ["3.10", "3.11"]
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}
      # Pin openassetio to match C++ version, since
      # tests/requirements.txt specifies a range. Also see
      # build_openassetio action.
      - run: |
          python -m pip install openassetio==1.0.0rc1.rev0
          python -m pip install -r tests/requirements.txt
          python -m pip install .
      - name: Test
        run: python -m pytest -v -m "not ctest"

  build-openassetio:
    name: Build OpenAssetIO
    runs-on: ubuntu-22.04
    container:
      image: ghcr.io/openassetio/openassetio-build
    steps:
      - uses: actions/checkout@v6
      - name: Build
        uses: ./.github/build_openassetio

  ctest:
    name: C++ tests
    runs-on: ubuntu-22.04
    needs: build-openassetio
    container:
      image: aswf/ci-base:2024
    steps:
      - uses: actions/checkout@v6

      - name: Get OpenAssetIO
        uses: actions/download-artifact@v5
        with:
          name: OpenAssetIO Build
          path: ${{ github.workspace }}/openassetio

      - name: Install ctest dependencies
        run: >
          python -m pip install
          -r tests/ctest-requirements.txt
          -r tests/requirements.txt
          .

      - name: Test
        run: python -m pytest -v -m ctest
        env:
          # Set the PYTHONPATH to the output of build-openassetio
          # Even though we are running C++ tests, pytest still discovers
          # all the python files, so they need to be valid imports.
          PYTHONPATH: ${{ github.workspace }}/openassetio/lib/python3.11/site-packages
          CMAKE_PREFIX_PATH: ${{ github.workspace }}/openassetio
          # TODO(DF): Sanitizers disabled due to lack of support in ASWF
          # Docker image. Re-enable once per-platform builds enabled
          # (i.e. once OpenAssetIO Conan package is available).
          OPENASSETIO_TRAITGENTEST_CMAKE_PRESET: ci
